<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    
    <!-- Додані дозволи для сповіщень -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <application
        android:label="Beautymarine"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        
        <!-- Сервіси та ресівери для сповіщень -->
        <service
            android:name="me.carda.awesome_notifications.core.services.NotificationService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        
        <service
            android:name="me.carda.awesome_notifications.core.services.AwesomeServiceIntent"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        
        <receiver
            android:name="me.carda.awesome_notifications.core.broadcasters.receivers.AwesomeNotificationActionReceiver"
            android:exported="false"/>
        
        <receiver
            android:name="me.carda.awesome_notifications.core.broadcasters.receivers.AwesomeNotificationReceiver"
            android:exported="false"/>
        
        <receiver
            android:name="me.carda.awesome_notifications.core.broadcasters.receivers.BootCompletedReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>